<div class="tableadvanced-inner component-inner">
    {{> component this}}
    <div class="tableadvanced-wrapper">
    <div class="tableadvanced-widget component-widget">
        <table class="" style="{{#if _minWidth}}min-width: {{_minWidth}}px; {{/if}}border: {{_TableBorderLineWidth}}px {{_TableBorderAppearance}};{{#if _isBorderCollapse}} border-collapse: collapse{{/if}}">
            {{#each _rows}}
            <tr class="tableadvanced-row nth-child-{{@index}} {{_classes}}">
                {{#each _cells}}
                    {{#if _isHeading}}
                        <th {{#if _rowSpan}}rowspan="{{_rowSpan}}"{{/if}}
                        {{#if _colSpan}}colspan="{{_colSpan}}"{{/if}}
                        style="{{#if _textAlignment}}text-align: {{_textAlignment}}; {{/if}}{{#if _verticalAlignment}}vertical-align: {{_verticalAlignment}}; {{/if}}{{#if _width}}width: {{_width}}; {{/if}}border: {{_CellBorderLineWidth}}px {{_CellBorderAppearance}}; {{#if _CellBackgroundColor}}background-color: {{_CellBackgroundColor}}; {{/if}}{{#if _CellTextColor}}color: {{_CellTextColor}};{{/if}}"
                        class="tableadvanced-data tableadvanced-heading nth-child-{{@index}} {{_classes}}">
                            {{{text}}}
                            {{#if _graphic._src}}
                                <div class="tableadvanced-data-graphic">
                                    <img src="{{_graphic._src}}" aria-label="{{_graphic.alt}}" tabindex="0" draggable="false">
                                </div>
                                {{#if _graphic.attribution}}
                                    <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                                {{/if}}
                            {{/if}}
                        </th>
                    {{else}}
                        <td {{#if _rowSpan}}rowspan="{{_rowSpan}}"{{/if}}
                        {{#if _colSpan}}colspan="{{_colSpan}}"{{/if}}
                        style="{{#if _textAlignment}}text-align: {{_textAlignment}}; {{/if}}{{#if _verticalAlignment}}vertical-align: {{_verticalAlignment}}; {{/if}}{{#if _width}}width: {{_width}}; {{/if}}border: {{_CellBorderLineWidth}}px {{_CellBorderAppearance}}; {{#if _CellBackgroundColor}}background-color: {{_CellBackgroundColor}}; {{/if}}{{#if _CellTextColor}}color: {{_CellTextColor}};{{/if}}"
                        class="tableadvanced-data nth-child-{{@index}} {{_classes}}">
                            {{{text}}}
                            {{#if _graphic._src}}
                                <div class="tableadvanced-data-graphic">
                                    <img src="{{_graphic._src}}" aria-label="{{_graphic.alt}}" tabindex="0" draggable="false">
                                </div>
                                {{#if _graphic.attribution}}
                                    <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                                {{/if}}
                            {{/if}}
                        </td>
                    {{/if}}
                {{/each}}
            </tr>
            {{/each}}
        </table>
    </div>
    </div>
</div>
